 // Reset
@import 'base/reset';
@import '../node_modules/reset-css/sass/reset';
// Base
@import 'base/variables';
@import 'base/mixins';
// Components
@import 'components/typography';
@import 'components/grid';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/sections';
@import 'components/nav';


body {
  font-family: 'McLaren', cursive;
  text-align: center;
}
main{
  padding: 20px;
  *{
    padding: 5px;
  }
}
.radius1 {
  border-radius: 80px 0 80px 80px;
}

.radius2 {
  border-radius: 80px 0 80px 0;
}

.shadow {
  box-shadow: 10px 10px 5px 0px darken(#333333,6);

  &:hover {
    box-shadow: 10px 10px 5px 0px darken($dark,50);
  }

}


table, th, td {
  border: 1px solid lighten(#2c2c2c,40);
  border-collapse: collapse;
  th{
    background: darken($dark,20);
  }
}

colgroup {
  display: table-column-group;
  .primary{
    background: $dark;
  }
  .actions{
    background: darken($dark,20);
    color: $light;
  }
}
.brand *{
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: $dark;
}

article{
  border: 1px solid $dark;
  padding: 20px;
}

#deprecated li {
  text-decoration:line-through;
}

.post{
  width: 80%;
  float: left;
}
aside{
  width: 20%;
  float: right;
}
.clearfix{
  clear: both;
}

 .card {
   margin: 15px 0;
   width: 266px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
 }

 img{
   padding: 3px;
   border: 1px solid $dark;
 }
 h1{
   border: 1px solid $dark;
   padding: 20px;
   margin: 10px 0;
   background: darken($dark,60);
   color: $dark;
 }

 h2{
   border: 1px solid $dark;
   padding: 10px;
   margin: 5px 0;
   background: darken($dark,40);
   color: $dark;
 }

 footer{
   background: darken($dark,60);
   p{
     padding: 20px;
     color: $dark;
   }
 }
.decimal {
    list-style: decimal;
}