h1#Bootstrap.c.ourse Course: Bootstrap
ul
    li Installation
    li
        a(href='https://www.npmjs.com/package/html5shiv')
        | html5shiv
    li respondJs
    li No need to install normalize it already included with bootstrap
h2 Grid system
code
    ul
        li container vs container-fluid
        li row
        li 12 col
        li xs,sm,md,lg
h2 classes
code
    ul
        li .visible
        li .hidden
        li .clearfix
        li .col-lg-offset-3
        li .pull
        li .push
        li .pull-right &amp;&amp; .pull-left
.row
    .col-md-3
        p.alert.alert-danger this is left
    .col-md-3
        p.alert.alert-danger this is right
    .clearfix.visible-md
    .col-md-6
        p.alert.alert-danger this is left
    .col-md-9.col-lg-offset-3
        p.alert.alert-danger this is right
.row
    .col-md-3
        img(src='img/640x480.jpeg' alt='The Pulpit Rock' width='304' height='228')
    .col-md-9
        .row
            .col-md-6
                h2 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor dolorem eos,
                    | esse quia sequi. Aliquid aspernatur consectetur eius eos hic id, iste neque nihil
                    | nostrum officiis pariatur quisquam quod.
            .col-md-6
                h2 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor dolorem eos,
                    | esse quia sequi. Aliquid aspernatur consectetur eius eos hic id, iste neque nihil
                    | nostrum officiis pariatur quisquam quod.