h1#CSS3.course Course: CSS3
.row
        .col-md-4
            .intro-box.radius1.shadow
                h2 BOX 1
                p
                    | https://www.google.com/search?q=sass+with+lite+server&amp;oq=sass+with+lite+server&amp;aqs=chrome..69i57.4004j0j7&amp;sourceid=chrome&amp;ie=UTF-8
        .col-md-4
            .intro-box.radius2.shadow
                h2 BOX 2
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, architecto? Debitis quod
                    | quibusdam
                    | iusto eveniet rerum eos voluptas quo assumenda earum praesentium consequatur ipsam,
                    | nobis culpa!
                    | Repellendus ducimus facilis ratione.
        .col-md-4
            .intro-box.radius1.shadow
                h2 BOX 3
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, architecto? Debitis quod
                    | quibusdam
                    | iusto eveniet rerum eos voluptas quo assumenda earum praesentium consequatur ipsam,
                    | nobis culpa!
                    | Repellendus ducimus facilis ratione.