h1#HTML.course Course: HTML
.row
    h2 Table
    table.table.table-bordered(style='width:100%')
        colgroup
            col.primary(span='2')
            col.actions
        tr
            th Name
            th Skills
            th %
        tr
            td(rowspan='4') Moataz
            td Skill
            td
        tr
            td Skill
            td
        tr
            td Skill
            td
        tr
            td Skill
            td
.row
    h2 Entities
    |                     1000 &pound;
    |                     1000 &yen;
    |                     1000 &euro;