include views/head
main
    .row.intro
        h1 HTML5 &amp; CSS3
        p Learn by doing
    .row
        section.post.col-sm-10
            include views/courses/html
            include views/courses/html5
            include views/courses/css3
            include views/courses/bootstrap
        include views/aside
include views/footer

script(type='text/javascript' src='/dist/bundle.js')
script(type='text/javascript' src='js/main.js')
