aside.col-sm-2
    section#courses.box.effect7.links
        h3 Elzero Web School Courses
        p
            a(target='_blank' href='https://elzero.org/learning-paths/web-designer/')
                | &#x645;&#x633;&#x627;&#x631; &#x627;&#x644; Front-End
                | Developer
        ol.left
            li
                a(href='#HTML') HTML
            li
                a(href='#HTML5') HTML5
            li
                a(href='#CSS') CSS
            li
                a(href='#CSS3') CSS3
            li
                a(href='#Bootstrap') Bootstrap
    section.box.effect7.links
        h3 HTML
        ul.left
            li
                a(href='https://www.w3schools.com/tags/default.asp') HTML Element Reference
            li
                a(href='#') Link
            li
                a(href='#') Link
            li
                a(href='#') Link
    section.box.effect7.top-posts
        h3 CSS
        ul.left
            li
                a(href='#') Link
            li
                a(href='#') Link
            li
                a(href='#') Link
            li
                a(href='#') Link
